<div class="container mt-5">
  <div class="chat-header">
    <h4 class="room-title">
      You are Connectd on <span class="room-name">{{ roomName }}</span> Room
    </h4>
    <button class="leave-button" (click)="leaveChat()">Leave Chat</button>
  </div>

  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4 class="text-white">Connected Users</h4>
          </div>
        </div>
        <div class="inbox_chat">
          <ng-container
            *ngFor="let user of this.chatService.connectedUsers$ | async"
          >
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img">
                  <img
                    class="profileimages"
                    src="https://cdn-icons-png.flaticon.com/512/5421/5421540.png"
                    alt="profile"
                  />
                </div>
                <div class="chat_ib">
                  <h5>{{ user }}</h5>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="mesgs">
        <div #scrollMe class="msg_history">
          <ng-container
            *ngFor="let message of this.chatService.messages$ | async"
          >
            <div
              [ngClass]="{
                incoming_msg: message.user != loggedInUserName,
                outgoing_msg: message.user === loggedInUserName
              }"
            >
              <div
                *ngIf="message.user != loggedInUserName"
                class="incoming_msg_img"
              >
                <img
                  class="profileimages"
                  src="https://cdn-icons-png.flaticon.com/512/5421/5421540.png"
                  alt="profile"
                />
              </div>
              <div
                *ngIf="message.user != loggedInUserName"
                class="received_msg"
              >
                <div class="received_withd_msg">
                  <p>{{ message.message }}</p>
                  <span class="time_date"
                    >{{ message.user }} |
                    {{ message.messageTime | date : "medium" }}</span
                  >
                </div>
              </div>

              <div *ngIf="message.user === loggedInUserName" class="sent_msg">
                <div class="message-content">
                  <p>{{ message.message }}</p>
                  <span class="time_date"
                    >{{ message.user }} |
                    {{ message.messageTime | date : "medium" }}</span
                  >
                </div>
                <img
                  class="profileimages2"
                  src="https://cdn-icons-png.flaticon.com/512/5421/5421540.png"
                  alt="profile"
                />
              </div>
            </div>
          </ng-container>
        </div>

        <div class="inputTextDiv"
          style="
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 800px;
            padding: 8px;
            background-color: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 24px;
            margin-bottom: 10px;
            margin-left: 10px;
          "
        >
          <input
            (keydown.enter)="sendMessage()"
            [(ngModel)]="inputMessage"
            type="text"
            style="
              flex: 1;
              border: none;
              outline: none;
              font-size: 16px;
              padding: 12px;
              border-radius: 24px;
              background-color: #f4f4f8;
              margin-right: 8px;
            "
          />

          <button
            type="button"
            (click)="sendMessage()"
            style="
              padding: 12px 16px;
              border: none;
              outline: none;
              border-radius: 50%;
              background-color: #777e77;
              color: white;
              font-weight: bold;
              cursor: pointer;
              transition: background-color 0.3s;
            "
          >
            ➤
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
